<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <!-- a service object; we will be profiling its methods -->
  <bean id="person" class="com.nomura.ltw.PersonImpl">
    <constructor-arg value="0"/>
  </bean>

  <!-- this switches on the load-time weaving -->
  <context:load-time-weaver/>

</beans>
